@page "/"
@inject IJSRuntime JSRuntime
@inject IDashboardService DashboardService
@implements IAsyncDisposable

<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Dashboard</h3>
        <p class="text-subtitle text-muted">A good dashboard to display your statistics</p>
    </div>

    @if (DashboardDto is not null)
    {
        <section class="section">
            <div class="row mb-2">
                <div class="col-12 col-md-3">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>Clientes</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>@DashboardDto.Charts.Customer.Value</p>
                                    </div>
                                </div>
                                <div class="chart-wrapper">
                                    <canvas id="canvas1" style="height:100px !important"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>Ventas Promedio</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>$@DashboardDto.Charts.AverageSales.Value</p>
                                    </div>
                                </div>
                                <div class="chart-wrapper">
                                    <canvas id="canvas2" style="height:100px !important"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>ORDENES</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>@DashboardDto.Charts.Order.Value </p>
                                    </div>
                                </div>
                                <div class="chart-wrapper">
                                    <canvas id="canvas3" style="height:100px !important"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>Ventas de Hoy</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>@DashboardDto.Charts.Sale.Value</p>
                                    </div>
                                </div>
                                <div class="chart-wrapper">
                                    <canvas id="canvas4" style="height:100px !important"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class='card-heading p-1 pl-3'>Ventas</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="pl-3">
                                        <h1 class='mt-5'>$@DashboardDto.SaleBars.TotalAmount </h1>
                                        <p class='text-xs'>
                                            <span class="@(DashboardDto.SaleBars.Percentage > 0 ? "text-green": "text-red")">
                                                <i data-feather="bar-chart" width="15"></i>
                                                +@(DashboardDto.SaleBars.Percentage)%
                                            </span>
                                            que el último mes
                                        </p>
                                        <div class="legends">
                                            <div class="legend d-flex flex-row align-items-center">
                                                <div class='w-3 h-3 rounded-full bg-info mr-2'></div><span class='text-xs'>Mes Anterior</span>
                                            </div>
                                            <div class="legend d-flex flex-row align-items-center">
                                                <div class='w-3 h-3 rounded-full bg-blue mr-2'></div><span class='text-xs'>Mes Actual</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-12">
                                    <canvas id="bar"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Entregas</h4>
                            <div class="d-flex ">
                                <i data-feather="download"></i>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-0">
                            <div class="table-responsive">
                                <table class='table mb-0' id="table1">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Email</th>
                                            <th>Cantidad</th>
                                            <th>Dirección</th>
                                            <th>Estado</th>
                                            <th>Ver Más</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var delivery in DashboardDto.Deliveries)
                                        {
                                            <tr>
                                                <td>@delivery.Name</td>
                                                <td>@delivery.Email</td>
                                                <td>$@delivery.Amount</td>
                                                <td>@delivery.Address</td>
                                                <td>
                                                    @switch (delivery.Status)
                                                    {
                                                        case DeliveryStatus.Delivered:
                                                            <span class="badge bg-success">Entregado</span>
                                                            break;
                                                        case DeliveryStatus.NoAddressFound:
                                                        case DeliveryStatus.ProductIncident:
                                                        case DeliveryStatus.IncorrectCode:
                                                        case DeliveryStatus.BuyerNotFound:
                                                            <span class="badge bg-danger">Problema</span>
                                                            break;
                                                        case DeliveryStatus.Created:
                                                        case DeliveryStatus.Pending:
                                                        case DeliveryStatus.Going:
                                                            <span class="badge bg-warning">Pendiente</span>
                                                            break;
                                                    }

                                                </td>
                                                <td>
                                                    <NavLink href=@($"/order/{delivery.OrderId}/delivery/") class="btn icon icon-left btn-primary"><i data-feather="edit"></i> Entrar</NavLink>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card ">
                        <div class="card-header">
                            <h4>Ganancias</h4>
                        </div>
                        <div class="card-body">
                            <div id="radialBars"></div>
                            <div class="text-center mb-5">
                                <h6>Desde el último mes</h6>
                                <h1 class='text-green'>+$@DashboardDto.Earnings.EarningsLastMonth</h1>
                            </div>
                        </div>
                    </div>
                    <div class="card widget-todo">
                        <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                            <h4 class="card-title d-flex">
                                <i class='bx bx-check font-medium-5 pl-25 pr-75'></i>Rendimiento
                            </h4>

                        </div>
                        <div class="card-body px-0 py-1">
                            <table class='table table-borderless'>
                                <tr>
                                    <td class='col-3'>Clientes que hayan comprado</td>
                                    <td class='col-6'>
                                        <div class="progress progress-info">
                                            <div id="kpi-customer-sales-completes" class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td id="kpi-txt-customer-sales-completes" class='col-3 text-center'>0%</td>
                                </tr>
                                <tr>
                                    <td class='col-3'>Clientes con Carritos</td>
                                    <td class='col-6'>
                                        <div class="progress progress-success">
                                            <div id="kpi-customer-baskets" class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td id="kpi-txt-customer-baskets" class='col-3 text-center'>0%</td>
                                </tr>
                                <tr>
                                    <td class='col-3'>Ventas Incompletas</td>
                                    <td class='col-6'>
                                        <div class="progress progress-danger">
                                            <div id="kpi-sales-incompletes" class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td id="kpi-txt-sales-incompletes" class='col-3 text-center'>0%</td>
                                </tr>
                                <tr>
                                    <td class='col-3'>Clientes con Ventas Incompletas</td>
                                    <td class='col-6'>
                                        <div class="progress progress-primary">
                                            <div id="kpi-customer-sales-incompletes" class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td id="kpi-txt-customer-sales-incompletes" class='col-3 text-center'>0%</td>
                                </tr>
                                <tr>
                                    <td class='col-3'>Ventas con Cupones</td>
                                    <td class='col-6'>
                                        <div class="progress progress-secondary">
                                            <div id="kpi-sales-coupons" class="progress-bar" role="progressbar" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td id="kpi-txt-sales-coupons" class='col-3 text-center'>0%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

</div>


@code {
    DashboardDto DashboardDto { get; set; }

    // Load the module and keep a reference to it
    // You need to use .AsTask() to convert the ValueTask to Task as it may be awaited multiple times
    private Task<IJSObjectReference> _module;
    private Task<IJSObjectReference> Module => _module ??= JSRuntime.InvokeAsync<IJSObjectReference>("import", "./assets/js/pages/dashboard.js").AsTask();

    async Task Submit()
    {
        string[] months = Enum.GetNames(typeof(SpanishMonth));
        var module = await Module;
        await module.InvokeVoidAsync("dashboard", DashboardDto, months);
    }

    public async ValueTask DisposeAsync()
    {
        if (_module != null)
        {
            var module = await _module;
            await module.DisposeAsync();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // await Submit();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var dashboardDtoResult = await DashboardService.GetDashboardAsync();
        DashboardDto = dashboardDtoResult.Result;

        StateHasChanged();

        await Submit();
    }
}
